header {
    text-align: center;
    color:aliceblue;
    background-image: linear-gradient(to right, blue, purple);
    padding-bottom: 1rem;
}
#city-search {
    width: 100%;
    text-align: center;
}

select{
    text-align-last: center;
    direction: ltr;
}

#search-button-container {
    border-bottom: 2px solid black;
    padding-bottom: 1rem;
}

#searchBtn {
    width: 100%;
}

.searchInput {
    margin-bottom: 1rem;
    width: 100%
}

#current-day {
    background-color: rgb(0, 204, 255);
    border: 2px solid black;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 30px;
    border-color: rgb(0, 98, 155);
    border-width: 3px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.596);
}

.card {
    background-color: aqua;
    margin-right: 20px;
    margin-left: 40px;
    margin-bottom: 5%;
    border-radius: 30px;
    border-color: rgb(0, 155, 155);
    border-width: 3px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.596);
}

h2 {
    margin-top: 1%;
    text-align: center;
}

h4 {
    margin-top: 1%;
    text-align: center;
}

li {
    list-style-type: none;
    margin-bottom: 3%;
}

.previousSearch {
    padding: 10px;
    border: 1px solid black;
    color: white;
    background-color: slategrey;
    border-radius: 3px;
    cursor: pointer;
    font-size: 24px;
    text-align: center;
    width: 25%;
}

#historyBtn {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}